<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <%if (logged) { %>
            <% include ../partials/loggedheader %>
        <% }%>
        <%if (!logged) { %>
            <% include ../partials/header %>
        <% } %>


    </header>

    <main>
        <div class="jumbotron">
            <h1>Project laarnio 2016</h1>
            <p>Welcome</p>

            <h2>Variable</h2>
            <p><%= tagline %></p>

            <h2>News</h2>
            <ul>
                <% msgs.forEach(function(msg) { %>

                    <% include ../partials/message %>
                <% }); %>
            </ul>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
